In [37]:
import pandas as pd

In [48]:
directorio = "./datasets/OFEI1204.txt"

df = pd.read_csv(directorio, sep = ";")\
       .rename(columns = {"Ofertas Iniciales para: 2017-12-04": "col_1"})

In [45]:
df_aux = df["col_1"].str.split(":", expand = True)\
                    .rename(columns = {0: "Agente", 1: "name"})\
                    .dropna().reset_index(drop = False)

df_aux["AGENTE_NAME"] = df_aux["Agente"] + ":" + df_aux["name"]
df_aux_list = df_aux["AGENTE_NAME"].values.tolist()

lista_index = df_aux["index"].values.tolist()
lista_index.append(df.shape[0]-1)

df_vac = pd.DataFrame()

for i in range(len(lista_index)-1):
    
    df_test = df.loc[lista_index[i]: lista_index[i+1]-1]
    df_loc = df_test["col_1"].str.split(",", expand = True).reset_index(drop = True).drop(0, axis = 0)
    
    df_loc["Agente"] = df_loc[0].values.tolist()[0].replace("AGENTE:", "")
    df_vac = pd.concat([df_vac, df_loc], axis = 0)

df_vac.dropna(inplace = True)

df_vac = df_vac.rename(columns = {0:"Planta", 1:"Tipo", 2:"Hora_1", 3:"Hora_2", 4:"Hora_3", 5:"Hora_4", 
                                  6:"Hora_5", 7:"Hora_6", 8:"Hora_7", 9:"Hora_8", 10:"Hora_9", 11:"Hora_10", 
                                  12:"Hora_11", 13:"Hora_12", 14:"Hora_13", 15:"Hora_14", 16:"Hora_15", 17:"Hora_16", 
                                  18:"Hora_17", 19:"Hora_18", 20:"Hora_19", 21:"Hora_20", 22:"Hora_21", 23:"Hora_22", 
                                  24:"Hora_23", 25:"Hora_24"})

df_vac.reset_index(drop = True, inplace = True)
df_vac

,Planta,Tipo,Hora_1,Hora_2,Hora_3,Hora_4,Hora_5,Hora_6,Hora_7,Hora_8,...,Hora_16,Hora_17,Hora_18,Hora_19,Hora_20,Hora_21,Hora_22,Hora_23,Hora_24,Agente
0,CHIVOR1,D,125,125,125,125,125,125,125,125,...,125,125,125,125,125,125,125,125,125,CHIVOR1
1,CHIVOR2,D,125,125,125,125,125,125,125,125,...,125,125,125,125,125,125,125,125,125,CHIVOR1
2,CHIVOR3,D,125,125,125,125,125,125,125,125,...,125,125,125,125,125,125,125,125,125,CHIVOR1
3,CHIVOR4,D,125,125,125,125,125,125,125,125,...,125,125,125,125,125,125,125,125,125,CHIVOR1
4,CHIVOR5,D,125,125,125,125,125,125,125,125,...,125,125,125,125,125,125,125,125,125,CHIVOR1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,SANTIAGO,D,1.52,1.52,1.52,1.52,1.52,1.52,1.52,1.52,...,1.52,1.52,1.52,1.52,1.52,1.52,1.52,1.52,1.52,CARLOSLLERAS1
397,INCAUCA1,D,8.50,8.50,8.50,8.50,8.50,8.50,8.50,8.50,...,8.50,8.50,8.50,8.50,8.50,8.50,8.50,8.50,8.50,CARLOSLLERAS1
398,INGENIOPROVIDENCIA2,D,13.80,13.80,13.80,13.80,13.80,13.80,13.80,13.80,...,13.80,13.80,13.80,13.80,13.80,13.80,13.80,13.80,13.80,CARLOSLLERAS1
399,FLORES1,D,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,FLORES1
400,FLORES4B,D,450,450,450,450,450,450,450,450,...,450,450,450,450,450,450,450,450,450,FLORES1