# Exploración del Dataset
<br>
<br>

<img alt="Colaboratory logo" src="explorar_datasets.png" height = "600" width = "600">

In [1]:
import pandas as pd
import numpy as np
import copy
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date, timedelta
import warnings 
warnings.filterwarnings('ignore')

# Dataset

In [2]:
df_employee = pd.read_excel("Data DS Cotton Plus.xlsx", sheet_name = "BD")
df_employee.loc[635:650, "annual_salary"] = np.nan
df_employee

,Cedula,Nombre Completo,Segmento,Compro 2019?,Compro 2020?,Monto Comprado 2019?,Nro Transacciones 2019,Monto Comprado 2020,Nro Transacciones 2020,Tipo de Contacto,...,Telefono Casa,Monto - MARCA COTTON- B/quilla.,Monto - Brand Store Cucuta,Monto - MARCA COTTON- Bucaramanga,Monto - MARCA COTTON- Manizales,Monto - MARCA COTTON- Pereira,Monto - MARCA COTTON- Cartagena,Monto - MARCA COTTON- Pasto,Monto - MARCA COTTON- Cable Plaza,annual_salary
0,1,Nombre Cliente 1,Aficionados,Si,No,264800,2,0,0,11001,...,NaN,0,0,0,0,0,0,0,0,NaN
1,2,Nombre Cliente 2,Esporádicos,Si,No,179900,1,0,0,11001,...,NaN,179900,0,0,0,0,0,0,0,NaN
2,3,Nombre Cliente 3,Aficionados,Si,No,189800,2,0,0,11101,...,NaN,451200,0,0,0,0,0,0,0,NaN
3,4,Nombre Cliente 4,Aficionados,Si,No,65900,1,0,0,11001,...,NaN,0,0,0,0,0,0,0,1859600,NaN
4,5,Nombre Cliente 5,Aficionados,Si,No,238800,2,0,0,11101,...,NaN,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9971,9972,Nombre Cliente 9972,Aficionados,Si,No,191260,4,0,0,11001,...,NaN,0,0,0,0,0,0,0,0,NaN
9972,9973,Nombre Cliente 9973,Aficionados,Si,No,371600,5,0,0,10100,...,NaN,0,0,0,0,0,0,0,0,NaN
9973,9974,Nombre Cliente 9974,Aficionados,Si,No,254960,3,0,0,11001,...,NaN,0,0,0,0,0,0,0,0,NaN
9974,9975,Nombre Cliente 9975,Esporádicos,Si,No,159920,1,0,0,10001,...,NaN,0,0,0,0,0,0,0,0,NaN
9975,9976,Nombre Cliente 9976,Esporádicos,No,No,0,0,0,0,11100,...,NaN,0,0,0,0,0,0,0,0,NaN

In [3]:
df_employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9976 entries, 0 to 9975
Data columns (total 41 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Cedula                                                            9976 non-null   int64
 1   Nombre Completo                                                   9976 non-null   object
 2   Segmento                                                          9976 non-null   object
 3   Compro 2019?                                                      9976 non-null   object
 4   Compro 2020?                                                      9976 non-null   object
 5   Monto Comprado 2019?                                              9976 non-null   int64
 6   Nro Transacciones 2019                                            9976 non-null   int64
 7   Monto Comprado 2020                                               9976 non-null   int64
 8   Nro Transacciones 2020                                            9976 non-null   int64
 9   Tipo de Contacto                                                  9976 non-null   int64
 10  Es Contactable                                                    9976 non-null   object
 11  Ciudad de Residencia                                              9976 non-null   object
 12  Mail                                                              0 non-null      float64
 13  Direccion                                                         0 non-null      float64
 14  Genero                                                            9976 non-null   object
 15  Estado Civil                                                      9976 non-null   object
 16  Fecha Nacimiento                                                  9976 non-null   int64
 17  Mes Nacimiento                                                    9976 non-null   object
 18  Dia Nacimiento                                                    9976 non-null   int64
 19  Edad                                                              9976 non-null   int64
 20  Monto Total de ultima compra                                      9976 non-null   int64
 21  Cantidad Articulos                                                9976 non-null   int64
 22  Recencia (Tiempo transcurrido en semanas desde su ultima compra)  9976 non-null   int64
 23  Frecuencia (Cantidad items comprados)                             9976 non-null   int64
 24  Direccion Valido?                                                 9976 non-null   object
 25  Mail Valido?                                                      9976 non-null   object
 26  Cel Valido?                                                       9976 non-null   object
 27  Tel Ofc Valid?                                                    9976 non-null   object
 28  Tel Casa Valido?                                                  9976 non-null   object
 29  Telefono Movil                                                    0 non-null      float64
 30  TelefonoOficina                                                   0 non-null      float64
 31  Telefono Casa                                                     0 non-null      float64
 32  Monto - MARCA COTTON- B/quilla.                                   9976 non-null   int64
 33  Monto - Brand Store Cucuta                                        9976 non-null   int64
 34  Monto - MARCA COTTON- Bucaramanga                                 9976 non-null   int64
 35  Monto - MARCA COTTON- Manizales                                   9976 non-null   int64
 36  Monto - MARCA COTTON- Pereira                                     9976 non-null   int64
 37  Monto - MARCA COTTON- Cartagena                                   9976 non-null   int64
 38  Monto - MARCA COTTON- Pasto                                       9976 non-null   int64
 39  Monto - MARCA COTTON- Cable Plaza                                 9976 non-null   int64
 40  annual_salary                                                     0 non-null      float64
dtypes: float64(6), int64(21), object(14)
memory usage: 3.1+ MB

In [4]:
df_employee.isnull().sum()

Cedula                                                                 0
Nombre Completo                                                        0
Segmento                                                               0
Compro 2019?                                                           0
Compro 2020?                                                           0
Monto Comprado 2019?                                                   0
Nro Transacciones 2019                                                 0
Monto Comprado 2020                                                    0
Nro Transacciones 2020                                                 0
Tipo de Contacto                                                       0
Es Contactable                                                         0
Ciudad de Residencia                                                   0
Mail                                                                9976
Direccion                                                           9976
Genero                                                                 0
Estado Civil                                                           0
Fecha Nacimiento                                                       0
Mes Nacimiento                                                         0
Dia Nacimiento                                                         0
Edad                                                                   0
Monto Total de ultima compra                                           0
Cantidad Articulos                                                     0
Recencia (Tiempo transcurrido en semanas desde su ultima compra)       0
Frecuencia (Cantidad items comprados)                                  0
Direccion Valido?                                                      0
Mail Valido?                                                           0
Cel Valido?                                                            0
Tel Ofc Valid?                                                         0
Tel Casa Valido?                                                       0
Telefono Movil                                                      9976
TelefonoOficina                                                     9976
Telefono Casa                                                       9976
Monto - MARCA COTTON- B/quilla.                                        0
Monto - Brand Store Cucuta                                             0
Monto - MARCA COTTON- Bucaramanga                                      0
Monto - MARCA COTTON- Manizales                                        0
Monto - MARCA COTTON- Pereira                                          0
Monto - MARCA COTTON- Cartagena                                        0
Monto - MARCA COTTON- Pasto                                            0
Monto - MARCA COTTON- Cable Plaza                                      0
annual_salary                                                       9976
dtype: int64

## Porcentaje de datos nulos

In [5]:
rows = df_employee.shape[0]
columns = df_employee.shape[1]
print(rows, columns)

9976 41

In [6]:
cell_count = rows * columns
cell_count

409016

In [7]:
number_of_nulls = df_employee.isnull().sum().sum()
percentage_of_missing = (number_of_nulls/cell_count)*100
print(f"Porcentage de valores nulos en el dataset: ---> {percentage_of_missing}%")
print(f"Cantidad de valores nulos:--------------------> {number_of_nulls}")

Porcentage de valores nulos en el dataset: ---> 14.634146341463413%
Cantidad de valores nulos:--------------------> 59856

## Eliminar datos nulos de columnas

Las columnas que sean irrelevantes desde el punto de vista del contexto, o que tengan demasiado valores nulos y no puedan ser "imputados" se deben remover de los datos

In [8]:
df_employee.isnull().sum()

Cedula                                                                 0
Nombre Completo                                                        0
Segmento                                                               0
Compro 2019?                                                           0
Compro 2020?                                                           0
Monto Comprado 2019?                                                   0
Nro Transacciones 2019                                                 0
Monto Comprado 2020                                                    0
Nro Transacciones 2020                                                 0
Tipo de Contacto                                                       0
Es Contactable                                                         0
Ciudad de Residencia                                                   0
Mail                                                                9976
Direccion                                                           9976
Genero                                                                 0
Estado Civil                                                           0
Fecha Nacimiento                                                       0
Mes Nacimiento                                                         0
Dia Nacimiento                                                         0
Edad                                                                   0
Monto Total de ultima compra                                           0
Cantidad Articulos                                                     0
Recencia (Tiempo transcurrido en semanas desde su ultima compra)       0
Frecuencia (Cantidad items comprados)                                  0
Direccion Valido?                                                      0
Mail Valido?                                                           0
Cel Valido?                                                            0
Tel Ofc Valid?                                                         0
Tel Casa Valido?                                                       0
Telefono Movil                                                      9976
TelefonoOficina                                                     9976
Telefono Casa                                                       9976
Monto - MARCA COTTON- B/quilla.                                        0
Monto - Brand Store Cucuta                                             0
Monto - MARCA COTTON- Bucaramanga                                      0
Monto - MARCA COTTON- Manizales                                        0
Monto - MARCA COTTON- Pereira                                          0
Monto - MARCA COTTON- Cartagena                                        0
Monto - MARCA COTTON- Pasto                                            0
Monto - MARCA COTTON- Cable Plaza                                      0
annual_salary                                                       9976
dtype: int64

In [9]:
df_employee.dropna(axis = "columns", how = "all")

,Cedula,Nombre Completo,Segmento,Compro 2019?,Compro 2020?,Monto Comprado 2019?,Nro Transacciones 2019,Monto Comprado 2020,Nro Transacciones 2020,Tipo de Contacto,...,Tel Ofc Valid?,Tel Casa Valido?,Monto - MARCA COTTON- B/quilla.,Monto - Brand Store Cucuta,Monto - MARCA COTTON- Bucaramanga,Monto - MARCA COTTON- Manizales,Monto - MARCA COTTON- Pereira,Monto - MARCA COTTON- Cartagena,Monto - MARCA COTTON- Pasto,Monto - MARCA COTTON- Cable Plaza
0,1,Nombre Cliente 1,Aficionados,Si,No,264800,2,0,0,11001,...,No,Si,0,0,0,0,0,0,0,0
1,2,Nombre Cliente 2,Esporádicos,Si,No,179900,1,0,0,11001,...,No,Si,179900,0,0,0,0,0,0,0
2,3,Nombre Cliente 3,Aficionados,Si,No,189800,2,0,0,11101,...,No,Si,451200,0,0,0,0,0,0,0
3,4,Nombre Cliente 4,Aficionados,Si,No,65900,1,0,0,11001,...,No,Si,0,0,0,0,0,0,0,1859600
4,5,Nombre Cliente 5,Aficionados,Si,No,238800,2,0,0,11101,...,No,Si,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9971,9972,Nombre Cliente 9972,Aficionados,Si,No,191260,4,0,0,11001,...,No,Si,0,0,0,0,0,0,0,0
9972,9973,Nombre Cliente 9973,Aficionados,Si,No,371600,5,0,0,10100,...,No,No,0,0,0,0,0,0,0,0
9973,9974,Nombre Cliente 9974,Aficionados,Si,No,254960,3,0,0,11001,...,No,Si,0,0,0,0,0,0,0,0
9974,9975,Nombre Cliente 9975,Esporádicos,Si,No,159920,1,0,0,10001,...,No,Si,0,0,0,0,0,0,0,0
9975,9976,Nombre Cliente 9976,Esporádicos,No,No,0,0,0,0,11100,...,No,No,0,0,0,0,0,0,0,0

In [10]:
df_employee.drop(labels = ["tax_file_no"], axis = 1)

KeyError: "['tax_file_no'] not found in axis"

## Remover renglones

Podemos remover renglones que tengan cierta cantidad datos nulos.

In [13]:
df_employee.dropna(axis = "index", how = "all")

,Cedula,Nombre Completo,Segmento,Compro 2019?,Compro 2020?,Monto Comprado 2019?,Nro Transacciones 2019,Monto Comprado 2020,Nro Transacciones 2020,Tipo de Contacto,...,Telefono Casa,Monto - MARCA COTTON- B/quilla.,Monto - Brand Store Cucuta,Monto - MARCA COTTON- Bucaramanga,Monto - MARCA COTTON- Manizales,Monto - MARCA COTTON- Pereira,Monto - MARCA COTTON- Cartagena,Monto - MARCA COTTON- Pasto,Monto - MARCA COTTON- Cable Plaza,annual_salary
0,1,Nombre Cliente 1,Aficionados,Si,No,264800,2,0,0,11001,...,NaN,0,0,0,0,0,0,0,0,NaN
1,2,Nombre Cliente 2,Esporádicos,Si,No,179900,1,0,0,11001,...,NaN,179900,0,0,0,0,0,0,0,NaN
2,3,Nombre Cliente 3,Aficionados,Si,No,189800,2,0,0,11101,...,NaN,451200,0,0,0,0,0,0,0,NaN
3,4,Nombre Cliente 4,Aficionados,Si,No,65900,1,0,0,11001,...,NaN,0,0,0,0,0,0,0,1859600,NaN
4,5,Nombre Cliente 5,Aficionados,Si,No,238800,2,0,0,11101,...,NaN,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9971,9972,Nombre Cliente 9972,Aficionados,Si,No,191260,4,0,0,11001,...,NaN,0,0,0,0,0,0,0,0,NaN
9972,9973,Nombre Cliente 9973,Aficionados,Si,No,371600,5,0,0,10100,...,NaN,0,0,0,0,0,0,0,0,NaN
9973,9974,Nombre Cliente 9974,Aficionados,Si,No,254960,3,0,0,11001,...,NaN,0,0,0,0,0,0,0,0,NaN
9974,9975,Nombre Cliente 9975,Esporádicos,Si,No,159920,1,0,0,10001,...,NaN,0,0,0,0,0,0,0,0,NaN
9975,9976,Nombre Cliente 9976,Esporádicos,No,No,0,0,0,0,11100,...,NaN,0,0,0,0,0,0,0,0,NaN

In [14]:
df_employee.dropna(axis = "index", thresh = 2)

,Cedula,Nombre Completo,Segmento,Compro 2019?,Compro 2020?,Monto Comprado 2019?,Nro Transacciones 2019,Monto Comprado 2020,Nro Transacciones 2020,Tipo de Contacto,...,Telefono Casa,Monto - MARCA COTTON- B/quilla.,Monto - Brand Store Cucuta,Monto - MARCA COTTON- Bucaramanga,Monto - MARCA COTTON- Manizales,Monto - MARCA COTTON- Pereira,Monto - MARCA COTTON- Cartagena,Monto - MARCA COTTON- Pasto,Monto - MARCA COTTON- Cable Plaza,annual_salary
0,1,Nombre Cliente 1,Aficionados,Si,No,264800,2,0,0,11001,...,NaN,0,0,0,0,0,0,0,0,NaN
1,2,Nombre Cliente 2,Esporádicos,Si,No,179900,1,0,0,11001,...,NaN,179900,0,0,0,0,0,0,0,NaN
2,3,Nombre Cliente 3,Aficionados,Si,No,189800,2,0,0,11101,...,NaN,451200,0,0,0,0,0,0,0,NaN
3,4,Nombre Cliente 4,Aficionados,Si,No,65900,1,0,0,11001,...,NaN,0,0,0,0,0,0,0,1859600,NaN
4,5,Nombre Cliente 5,Aficionados,Si,No,238800,2,0,0,11101,...,NaN,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9971,9972,Nombre Cliente 9972,Aficionados,Si,No,191260,4,0,0,11001,...,NaN,0,0,0,0,0,0,0,0,NaN
9972,9973,Nombre Cliente 9973,Aficionados,Si,No,371600,5,0,0,10100,...,NaN,0,0,0,0,0,0,0,0,NaN
9973,9974,Nombre Cliente 9974,Aficionados,Si,No,254960,3,0,0,11001,...,NaN,0,0,0,0,0,0,0,0,NaN
9974,9975,Nombre Cliente 9975,Esporádicos,Si,No,159920,1,0,0,10001,...,NaN,0,0,0,0,0,0,0,0,NaN
9975,9976,Nombre Cliente 9976,Esporádicos,No,No,0,0,0,0,11100,...,NaN,0,0,0,0,0,0,0,0,NaN

## Reemplazar valores nulos

Para eso hay diversas técnicas y dependerá tanto del contexto como del tipo de dato que estemos analizando,

In [15]:
def plot_frecuancy_distribution(category = str, df = pd.DataFrame(), 
                                font_size_y = 12, fontsize_x = 12, font_size_title = 12):
    
    cat_count = df[category].value_counts()
    sns.set(style = "darkgrid")
    sns.barplot(cat_count.index, cat_count.values, alpha = 0.6)
    plt.title(f"Distribucion de frecuencias de la {category}", fontsize = font_size_title)
    plt.ylabel("Conteos", fontsize = font_size_y)
    plt.xlabel(category, fontsize = fontsize_x)
    plt.xticks(rotation = 0)
    plt.show();

### Columna Gender

In [16]:
print("Valores nulos de la variable Gender:", df_employee["gender"].isnull().sum())

KeyError: 'gender'

In [12]:
plot_frecuancy_distribution("gender", df_employee, font_size_y = 15, 
                            fontsize_x = 15, font_size_title = 15)

NameError: name 'plot_frecuancy_distribution' is not defined

In [ ]:
df_employee.gender.fillna("U", inplace = True)

In [17]:
df_employee["gender"].isnull().sum()

KeyError: 'gender'

#### corregir utilizando la función fillna de pandas

#### Aplicar una función personalizada

In [ ]:
df_employee

In [ ]:
df_employee.dropna(axis='index', thresh = 2, inplace = True)

In [ ]:
def clasificar_genero_por_nombre(nombre:str, gender):
    
    if not pd.isna(gender):
        return gender
    
    if nombre.endswith("o") or nombre.endswith("r") or nombre.endswith("d"):
        return "M"
    
    else:
        return "F"

In [ ]:
df_employee["gender"] = df_employee.apply(lambda row: clasificar_genero_por_nombre(row["first_name"], 
                                                                                   row["gender"]), 
                                          axis=1)

In [ ]:
df_employee["gender"].isnull().sum()

### Employment status

In [ ]:
df_employee.groupby(["employment_status"]).size()

In [ ]:
def plot_pie_chart(category, df, shadow = False, fig_size = (5, 5), explode = (0, 0.1, 0)):
    
    labels = df[category].astype("category").cat.categories.tolist()
    counts = df[category].value_counts()
    sizes = [counts[var_cat] for var_cat in labels]
    
    fig1, ax1 = plt.subplots(figsize = fig_size)
    explode = explode
    ax1.pie(sizes, labels = labels, explode = explode, shadow = shadow, autopct = "%1.1f%%")
    plt.show();

In [ ]:
plot_pie_chart("employment_status", df_employee, shadow = True, fig_size = (8, 8), explode = (0, 0.1, 0))

In [ ]:
df_employee["employment_status"].fillna("PE", inplace = True)

## annual_salary

In [ ]:
df_employee["annual_salary"].isnull().sum()

In [ ]:
salario_promedio = df_employee.annual_salary.mean()
#salario_promedio = df_employee["annual_salary"].mean()
coef_var = df_employee["annual_salary"].std()/df_employee["annual_salary"].mean()*100
print(f"Salario_promedio: -----------> {salario_promedio}")
print(f"Coeficiente de variacion: ---> {coef_var}%")

In [ ]:
sns.displot(df_employee["annual_salary"]);

In [ ]:
df_employee["annual_salary_2_mean"] = df_employee["annual_salary"].fillna(salario_promedio)

In [ ]:
sns.displot(df_employee["annual_salary_2_mean"]);

# Manipular Strings

In [ ]:
df_salary_by_employment_status = df_employee.groupby(["employment_status"])[["annual_salary"]].mean()
df_salary_by_employment_status

In [ ]:
df_salary_by_employment_status = df_employee.groupby(["employment_status"]).agg({"annual_salary": "mean"})
df_salary_by_employment_status

In [ ]:
df_salary_by_employment_status.loc["CA", "annual_salary"]

In [ ]:
def fill_salary_by_status(row, df_salary_by_employment_status):
    
    salary, emp_status = row["annual_salary"], row["employment_status"]
    
    if not pd.isna(salary):
        return salary
    
    value = df_salary_by_employment_status.loc[emp_status, "annual_salary"]
    
    return value

In [ ]:
salary= row["annual_salary"]
emp_status = row["employment_status"]

In [ ]:
df_employee["annual_salary"] = df_employee.apply(fill_salary_by_status, axis = 1, args = (df_salary_by_employment_status,))

In [ ]:
df_employee["annual_salary"] = df_employee["annual_salary"].apply(lambda x: x.replace("PE", "0") if x == "PE" else x)
df_employee["annual_salary"] = df_employee["annual_salary"].astype(float)

In [ ]:
df_employee_2 = df_employee[df_employee["annual_salary"] != 0]
sns.displot(df_employee_2["annual_salary"]);

# Manipular Fechas

In [ ]:
df_employee.head()

In [ ]:
df_employee["birth_date"] = pd.to_datetime(df_employee["birth_date"])
df_employee["birth_date"].dtype

In [ ]:
df_employee.dtypes

In [ ]:
df_employee["birth_date"] = df_employee["birth_date"].astype("datetime64")

In [ ]:
from datetime import date, timedelta, datetime

In [ ]:
fecha_actual = datetime.today()

In [ ]:
df_employee["age"] = (fecha_actual - df_employee["birth_date"]).dt.days

In [ ]:
df_employee["age"]

# Data Set de Aviones

In [ ]:
df_flights = pd.read_csv('https://raw.githubusercontent.com/ismayc/pnwflights14/master/data/flights.csv')

In [ ]:
df_flights.head()

# Exploración del dataset

In [ ]:
df_flights.info()

In [ ]:
df_flights.describe().T

In [ ]:
df_flights.describe(include = "O").T

# Visualización de variables categóricas

In [ ]:
df_flights["carrier"].unique()

## Box Plot

In [ ]:
df_flights.boxplot("dep_time", "origin", rot = 0, figsize = (5, 5));

In [ ]:
df_flights.boxplot("dep_time", "carrier", rot = 0, figsize = (5, 10));

## Frecuencias de Distribución

Esto nos permite el número de ocurrencias de cada categoría de una variable.

In [ ]:
df_flights.groupby(["carrier"]).size().sort_values(ascending = True)

In [ ]:
df_flights["carrier"].value_counts(ascending = True).index

In [ ]:
df_flights["carrier"].value_counts(ascending = True).values

In [ ]:
def plot_frecuency_distribution(category, df, title_, style):
    
    cat_count = df[category].value_counts()
    sns.set(style = style)
    sns.barplot(cat_count.index, cat_count.values, alpha = 0.9)
    plt.title(title_)
    plt.xlabel(category)
    plt.ylabel("Conteos")
    plt.show()

In [ ]:
plot_frecuency_distribution("carrier", df_flights, 
                            title_ = "Bar plot of Carrier", 
                            style = "darkgrid")

## Pie Chart

In [ ]:
explode = (0,0,0,0,0,0,0,0,0,0,0)

plot_pie_chart("carrier", 
               df_flights, 
               shadow = True, 
               fig_size = (8, 8),
               explode = explode)

# Seleccionar las variables categóricas

A continuación vemos que las posibles variables categóricas son las que son de tipo "object". Las demás son numéricas.

In [ ]:
df_flights.dtypes

In [ ]:
df_flights[["carrier", "tailnum", "origin", "dest"]]

## Dataframe de solo variables categóricas

In [ ]:
cat_df_flights = df_flights.select_dtypes(include = "O").copy()
cat_df_flights = df_flights.select_dtypes(include = ["object"]).copy()
cat_df_flights

## Detección e imputación de valores nulos

In [ ]:
cat_df_flights.isnull().sum()

In [ ]:
cat_df_flights.isnull().values.sum()

In [ ]:
cat_df_flights.isnull().sum().sum()

### Imputación

Esto es un proceso que consiste en llenar los valores faltantes mediante algún método "razonable".
Para variables numéricas una de las técnicas es utilizar un estadístico como el promedio o la mediana. Para nuestro caso de variables categóricas vamos a reemplazar los valores nulos con el valor más común, en estadística es llamado la "moda".

## One-Hot-Encoding

Si bien esta técnica resuelve el problema de tener pesos desiguales, sin embargo, esto no será muy útil cuando se tienen muchas categorías ya que esto agregaría demasiadas columnas y podríamos caer en la [maldición de la dimensionalidad (Curse of dimensionality)](https://en.wikipedia.org/wiki/Curse_of_dimensionality)


<img alt="Colaboratory logo" src="dummy.jpg" height = "400" width = "400">

## Utilizando Pandas

Utilizamos la función *get_dummies*

In [ ]:
cat_df_flights.head()

In [ ]:
cat_df_flights_onehot = pd.get_dummies(cat_df_flights,
                                       columns = ["carrier", "origin"],
                                       prefix = ["carrier", "origin"])

In [ ]:
cat_df_flights_onehot

## Target Encoding

Supongamos que la variable "*dep_time*" es nuestra variable objetivo (target).

In [ ]:
cat_df_flights_encoding = cat_df_flights.copy()
cat_df_flights_encoding["target"] = df_flights["dep_time"]
cat_df_flights_encoding.head()

In [ ]:
na_fill_values = cat_df_flights_encoding.target.mean()
cat_df_flights_encoding.fillna(na_fill_values, inplace = True)

In [ ]:
encodings = cat_df_flights_encoding.groupby("carrier").agg({"target":"mean"}).reset_index()
encodings

In [ ]:
cat_df_flights_target_encoding = cat_df_flights_encoding.merge(encodings, how="left", on="carrier", suffixes=("", "carrier_mean"))

In [ ]:
cat_df_flights_target_encoding